@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
.bg {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='100%' height='100%' preserveAspectRatio='none' viewBox='0 0 565 700'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1984%26quot%3b)' fill='none'%3e%3crect width='565' height='700' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1985%26quot%3b)'%3e%3c/rect%3e%3cpath d='M0 0L148.42 0L0 32.37z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 32.37L148.42 0L302.55999999999995 0L0 81.31z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 81.31L302.55999999999995 0L349.69999999999993 0L0 465.63z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 465.63L349.69999999999993 0L383.3399999999999 0L0 624.65z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M565 700L438.79 700L565 608.94z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M565 608.94L438.79 700L348.52000000000004 700L565 337.25000000000006z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M565 337.25L348.52 700L207.95999999999998 700L565 244.73000000000002z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M565 244.73000000000002L207.96000000000004 700L169.51000000000005 700L565 165.95000000000002z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1984'%3e%3crect width='565' height='700' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='-5.97%25' y1='4.82%25' x2='105.97%25' y2='95.18%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1985'%3e%3cstop stop-color='rgba(147%2c 0%2c 0%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(38%2c 1%2c 1%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  /* background-color: black; */
  height: 100vh;
}

.glassmorphism {
  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.178) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  border-radius: 30px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 2px outset rgba(255, 255, 255, 0.3);
  box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.2);
}

/* Checkbox */
input[type='checkbox'] {
  appearance: none;
  height: 20px;
  width: 20px;
  margin: auto 0 auto 1rem;
  background-color: transparent;
  border: 3px solid #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
input[type='checkbox']:after {
  content: '\2713';
  color: #ffffff;
  font-weight: 1000;
  display: none;
}
input[type='checkbox']:checked {
  background-color: #ffffff;
}
input[type='checkbox']:checked:after {
  color: rgb(0, 0, 0);
  display: block;
}
